<a href="https://colab.research.google.com/github/edx04/data-science/blob/main/ArraysArellano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
random_array = np.random.randint(10,size=100)

In [4]:
np.median(random_array)

4.0

In [5]:
def factorial(num):
  return np.prod(np.arange(1,num + 1))

In [6]:
factorial(5)

120

In [7]:
def suma_serie(num1,num2):
  return np.sum(np.arange(num1,num2 + 1))

In [8]:
suma_serie(1,3)

6

In [9]:
import pandas as pd

In [10]:
df = pd.read_excel('https://github.com/edx04/data-science/blob/main/Salarios%20Openqube.xlsx?raw=true')

In [16]:
lista_salario = df['Salario mensual NETO (en tu moneda local)'].astype(float).tolist()

In [18]:
mediana = np.median(lista_salario)

In [20]:
media = np.mean(lista_salario)

In [21]:
print(f"La mediana de los salarios es {mediana} y la media de los datos es {media}")

La mediana de los salarios es 76000.0 y la media de los datos es 19309437.802131332