<a href="https://colab.research.google.com/github/edx04/data-science/blob/main/ClasificacionArellano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/edx04/data-science/main/data/Employee.csv')

In [3]:
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [4]:
data = df.copy()

cat_vars=['Education','City','Gender']
for var in cat_vars:
    cat_list='var'+'_'+var
    cat_list = pd.get_dummies(data[var], prefix=var)
    data1=data.join(cat_list)
    data=data1
    
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]
data_final=data[to_keep]
data_final.columns.values
data_final.EverBenched = data_final.EverBenched.map(dict(Yes=1, No=0))

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [5]:
X = data_final.drop(['JoiningYear', 'LeaveOrNot'], axis=1)

y = df.loc[:, df.columns == 'LeaveOrNot']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

# KNN

In [11]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=3)

In [12]:
knn.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [18]:
y_pred= knn.predict(X_test)
y_train_pred = knn.predict(X_train)

In [19]:
print('Accuracy sobre conjunto de Test:', accuracy_score(y_pred,y_test))
print('Accuracy sobre conjunto de Train:', accuracy_score(y_train_pred,y_train))

Accuracy sobre conjunto de Test: 0.7234957020057307
Accuracy sobre conjunto de Train: 0.7933681301811483

# Random Forest

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [67]:
model = RandomForestClassifier(random_state=3, n_estimators=50,min_samples_split=3,
                               class_weight="balanced", max_features="log2")

model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(class_weight='balanced', max_features='log2',
                       min_samples_split=3, n_estimators=50, random_state=3)

In [68]:
y_test_pred = model.predict(X_test)
y_train_pred = model.predict(X_train)
print('Accuracy sobre conjunto de Test:', accuracy_score(y_test_pred,y_test))
print('Accuracy sobre conjunto de Train:', accuracy_score(y_train_pred,y_train))

Accuracy sobre conjunto de Test: 0.7378223495702005
Accuracy sobre conjunto de Train: 0.8403438747313479