<a href="https://colab.research.google.com/github/edx04/data-science/blob/main/FuncionesArellano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def factorial(num):
  if num == 0:
    return 1
  return num * factorial(num - 1)

In [4]:
res = factorial(5)

print(res)

120

In [5]:
def suma_serie(num1,num2):
  total = 0
  while num1 <= num2:
    total += num1
    num1 += 1
  return total

In [8]:
res2 = suma_serie(1,3)
print(res2)

6