<a href="https://colab.research.google.com/github/edx04/data-science/blob/main/PandasArellano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import chardet
import urllib

In [17]:
file = 'https://raw.githubusercontent.com/edx04/data-science/main/data/Summer-Olympic-medals-1976-to-2008.csv'

In [10]:
urllib.request.urlretrieve(file, "Summer-Olympic-medals-1976-to-2008.csv")
with open('/content/Summer-Olympic-medals-1976-to-2008.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'ISO-8859-1', 'language': ''}

In [60]:
df = pd.read_csv(file,encoding='ISO-8859-1')

In [61]:
df.head()

       City    Year     Sport  ...        Country Event_gender   Medal
0  Montreal  1976.0  Aquatics  ...   East Germany            W  Silver
1  Montreal  1976.0  Aquatics  ...   Soviet Union            M  Bronze
2  Montreal  1976.0  Aquatics  ...  United States            M    Gold
3  Montreal  1976.0  Aquatics  ...          Italy            M  Silver
4  Montreal  1976.0  Aquatics  ...  United States            W  Bronze

[5 rows x 11 columns]

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

In [63]:
df.dropna(inplace=True)

#1 . Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [64]:
year = pd.to_datetime(df['Year'], format='%Y')

In [65]:
year

0       1976-01-01
1       1976-01-01
2       1976-01-01
3       1976-01-01
4       1976-01-01
           ...
15428   2008-01-01
15429   2008-01-01
15430   2008-01-01
15431   2008-01-01
15432   2008-01-01
Name: Year, Length: 15316, dtype: datetime64[ns]

In [66]:
unique_years = year.unique()
unique_years

array(['1976-01-01T00:00:00.000000000', '1980-01-01T00:00:00.000000000',
       '1984-01-01T00:00:00.000000000', '1988-01-01T00:00:00.000000000',
       '1992-01-01T00:00:00.000000000', '1996-01-01T00:00:00.000000000',
       '2000-01-01T00:00:00.000000000', '2004-01-01T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [67]:
unique_cities =  df.City.unique()
unique_cities

array(['Montreal', 'Moscow', 'Los Angeles', 'Seoul', 'Barcelona',
       'Atlanta', 'Sydney', 'Athens', 'Beijing'], dtype=object)

In [68]:
serie = pd.Series(unique_cities, index=unique_years)

In [69]:
serie

1976-01-01       Montreal
1980-01-01         Moscow
1984-01-01    Los Angeles
1988-01-01          Seoul
1992-01-01      Barcelona
1996-01-01        Atlanta
2000-01-01         Sydney
2004-01-01         Athens
2008-01-01        Beijing
dtype: object

In [75]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df['Year'] = pd.DatetimeIndex(df['Year']).year.astype(int)
df2 = df.set_index('Year')
df2

          City      Sport       Discipline  ...        Country Event_gender   Medal
Year                                        ...
1976  Montreal   Aquatics           Diving  ...   East Germany            W  Silver
1976  Montreal   Aquatics           Diving  ...   Soviet Union            M  Bronze
1976  Montreal   Aquatics           Diving  ...  United States            M    Gold
1976  Montreal   Aquatics           Diving  ...          Italy            M  Silver
1976  Montreal   Aquatics           Diving  ...  United States            W  Bronze
...        ...        ...              ...  ...            ...          ...     ...
2008   Beijing  Wrestling  Wrestling Gre-R  ...         France            M  Bronze
2008   Beijing  Wrestling  Wrestling Gre-R  ...        Georgia            M    Gold
2008   Beijing  Wrestling  Wrestling Gre-R  ...     Azerbaijan            M  Silver
2008   Beijing  Wrestling  Wrestling Gre-R  ...         France            M    Gold
2008   Beijing  Wrestling  Wrestling Gre-R  ...           Cuba            M    Gold

[15316 rows x 10 columns]

#2. Separar nombres de apellidos en dos columnas distintas usando la coma como separador

In [77]:
df2[['Lastname','Firstname']] = df2.Athlete.str.split(",",1,expand=True)

In [81]:
df2.index

Int64Index([1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976, 1976,
            ...
            2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008],
           dtype='int64', name='Year', length=15316)

In [82]:
df2.drop(columns='Athlete',inplace=True)

In [83]:
df2.head()

          City     Sport Discipline  ...   Medal  Lastname        Firstname
Year                                 ...
1976  Montreal  Aquatics     Diving  ...  Silver    KÖHLER          Christa
1976  Montreal  Aquatics     Diving  ...  Bronze  KOSENKOV        Aleksandr
1976  Montreal  Aquatics     Diving  ...    Gold     BOGGS    Philip George
1976  Montreal  Aquatics     Diving  ...  Silver  CAGNOTTO   Giorgio Franco
1976  Montreal  Aquatics     Diving  ...  Bronze    WILSON   Deborah Keplar

[5 rows x 11 columns]

# 3. Obtener medidas resumen del conjunto de datos.

In [85]:
df2.describe()

           City     Sport Discipline  ...   Medal Lastname  Firstname
count     15316     15316      15316  ...   15316    15316      15223
unique        9        28         41  ...       3     8930       5587
top     Beijing  Aquatics  Athletics  ...  Bronze      KIM   Vladimir
freq       2042      2210       1523  ...    5258      103        113

[4 rows x 11 columns]

In [ ]:
df.sort_values()

# 3.1 Cuál es el país que ganó más medallas?

In [99]:
df2[['Country','Medal']].groupby('Country').count().sort_values('Medal',ascending=False).head(1)

               Medal
Country
United States   1992

# 4 Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [106]:
df_men =df2[df2['Gender'] == 'Men']

In [113]:
df_men.groupby(df_men.index)['Medal'].count()

Year
1976     924
1980     958
1984     973
1988    1011
1992    1105
1996    1082
2000    1126
2004    1099
2008    1110
Name: Medal, dtype: int64