In [38]:
import pandas as pd

In [39]:
w_data = pd.read_csv('https://raw.githubusercontent.com/edx04/data-science/main/data/w_data.csv', sep=';')
p_data = pd.read_csv('https://raw.githubusercontent.com/edx04/data-science/main/data/p_data.csv', sep=';')

#1 Cuantos ID tienen en común. Nombrar cuales no tienen en común

In [40]:
result = pd.merge(w_data, p_data, on='ID')
result.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K,39.0,Male,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K,50.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K,38.0,Male,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K,53.0,Male,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K,28.0,Female,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [41]:
print(f"tienen en comun {result.ID.count()}")

tienen en comun 48842

In [42]:
diferente_id = pd.merge(w_data, p_data, on='ID',how='outer',indicator=True).query('_merge != "both"')
diferente_id

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship,_merge
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [43]:
print(f"NO tienen en comun el id  {diferente_id.ID.values[0]}")

NO tienen en comun el id  1344995623

#2 Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’

In [44]:
result.Target.unique()

array([' <=50K', ' >50K', nan, ' <=50K.', ' >50K.'], dtype=object)

In [45]:
result[result['Target'].isnull()]

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
32561,NaN,NaN,NaN,NaN,NaN,37078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
result2 = result.drop(index=32561)

In [47]:
result2.Target.unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [48]:
result2.Target= result2.Target.apply(lambda x: '>50k' if x[1] == '>' else '<=50k')

In [49]:
result2.Target.unique()

array(['<=50k', '>50k'], dtype=object)

In [50]:
result2.Target.value_counts()

<=50k    37155
>50k     11686
Name: Target, dtype: int64

#3 Calcular la proporción que hay entre personas con salarios >50k respecto del total para Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

In [61]:
result2.groupby(['Sex','Target']).count()

                Workclass  fnlwgt  Capital Gain  Capital Loss  Hours per week  \
Sex     Target
 Female <=50k       14423   14423         14423         14423           14423
        >50k         1769    1769          1769          1769            1769
 Male   <=50k       22732   22732         22732         22732           22732
        >50k         9917    9917          9917          9917            9917

                   ID    Age   Race  Country  Education  Education-Num  \
Sex     Target
 Female <=50k   14423  14423  14423    14423      14423          14423
        >50k     1769   1769   1769     1769       1769           1769
 Male   <=50k   22732  22732  22732    22732      22732          22732
        >50k     9917   9917   9917     9917       9917           9917

                Marital Status  Relationship
Sex     Target
 Female <=50k            14423         14423
        >50k              1769          1769
 Male   <=50k            22732         22732
        >50k              9917          9917

In [58]:
result2.groupby(['Race','Target']).count()

                            Workclass  fnlwgt  Capital Gain  Capital Loss  \
Race                Target
 Amer-Indian-Eskimo <=50k         415     415           415           415
                    >50k           55      55            55            55
 Asian-Pac-Islander <=50k        1110    1110          1110          1110
                    >50k          409     409           409           409
 Black              <=50k        4119    4119          4119          4119
                    >50k          566     566           566           566
 Other              <=50k         356     356           356           356
                    >50k           50      50            50            50
 White              <=50k       31155   31155         31155         31155
                    >50k        10606   10606         10606         10606

                            Hours per week     ID    Age    Sex  Country  \
Race                Target
 Amer-Indian-Eskimo <=50k              415    415    415    415      415
                    >50k                55     55     55     55       55
 Asian-Pac-Islander <=50k             1110   1110   1110   1110     1110
                    >50k               409    409    409    409      409
 Black              <=50k             4119   4119   4119   4119     4119
                    >50k               566    566    566    566      566
 Other              <=50k              356    356    356    356      356
                    >50k                50     50     50     50       50
 White              <=50k            31155  31155  31155  31155    31155
                    >50k             10606  10606  10606  10606    10606

                            Education  Education-Num  Marital Status  \
Race                Target
 Amer-Indian-Eskimo <=50k         415            415             415
                    >50k           55             55              55
 Asian-Pac-Islander <=50k        1110           1110            1110
                    >50k          409            409             409
 Black              <=50k        4119           4119            4119
                    >50k          566            566             566
 Other              <=50k         356            356             356
                    >50k           50             50              50
 White              <=50k       31155          31155           31155
                    >50k        10606          10606           10606

                            Relationship
Race                Target
 Amer-Indian-Eskimo <=50k            415
                    >50k              55
 Asian-Pac-Islander <=50k           1110
                    >50k             409
 Black              <=50k           4119
                    >50k             566
 Other              <=50k            356
                    >50k              50
 White              <=50k          31155
                    >50k           10606

In [59]:
result2.groupby(['Education','Target']).count()

                      Workclass  fnlwgt  Capital Gain  Capital Loss  \
Education     Target
 10th         <=50k        1302    1302          1302          1302
              >50k           87      87            87            87
 11th         <=50k        1720    1720          1720          1720
              >50k           92      92            92            92
 12th         <=50k         609     609           609           609
              >50k           48      48            48            48
 1st-4th      <=50k         239     239           239           239
              >50k            8       8             8             8
 5th-6th      <=50k         482     482           482           482
              >50k           27      27            27            27
 7th-8th      <=50k         893     893           893           893
              >50k           62      62            62            62
 9th          <=50k         715     715           715           715
              >50k           41      41            41            41
 Assoc-acdm   <=50k        1188    1188          1188          1188
              >50k          413     413           413           413
 Assoc-voc    <=50k        1539    1539          1539          1539
              >50k          522     522           522           522
 Bachelors    <=50k        4712    4712          4712          4712
              >50k         3312    3312          3312          3312
 Doctorate    <=50k         163     163           163           163
              >50k          431     431           431           431
 HS-grad      <=50k       13281   13281         13281         13281
              >50k         2503    2503          2503          2503
 Masters      <=50k        1198    1198          1198          1198
              >50k         1459    1459          1459          1459
 Preschool    <=50k          82      82            82            82
              >50k            1       1             1             1
 Prof-school  <=50k         217     217           217           217
              >50k          617     617           617           617
 Some-college <=50k        8815    8815          8815          8815
              >50k         2063    2063          2063          2063

                      Hours per week     ID    Age    Sex   Race  Country  \
Education     Target
 10th         <=50k             1302   1302   1302   1302   1302     1302
              >50k                87     87     87     87     87       87
 11th         <=50k             1720   1720   1720   1720   1720     1720
              >50k                92     92     92     92     92       92
 12th         <=50k              609    609    609    609    609      609
              >50k                48     48     48     48     48       48
 1st-4th      <=50k              239    239    239    239    239      239
              >50k                 8      8      8      8      8        8
 5th-6th      <=50k              482    482    482    482    482      482
              >50k                27     27     27     27     27       27
 7th-8th      <=50k              893    893    893    893    893      893
              >50k                62     62     62     62     62       62
 9th          <=50k              715    715    715    715    715      715
              >50k                41     41     41     41     41       41
 Assoc-acdm   <=50k             1188   1188   1188   1188   1188     1188
              >50k               413    413    413    413    413      413
 Assoc-voc    <=50k             1539   1539   1539   1539   1539     1539
              >50k               522    522    522    522    522      522
 Bachelors    <=50k             4712   4712   4712   4712   4712     4712
              >50k              3312   3312   3312   3312   3312     3312
 Doctorate    <=50k              163    163    163    163    163      163
              >50k               431    431    431    431    431      431
 HS-grad      <=50k            13281  13281  13281  13281  13281    13281
              >50k              2503   2503   2503   2503   2503     2503
 Masters      <=50k             1198   1198   1198   1198   1198     1198
              >50k              1459   1459   1459   1459   1459     1459
 Preschool    <=50k               82     82     82     82     82       82
              >50k                 1      1      1      1      1        1
 Prof-school  <=50k              217    217    217    217    217      217
              >50k               617    617    617    617    617      617
 Some-college <=50k             8815   8815   8815   8815   8815     8815
              >50k              2063   2063   2063   2063   2063     2063

                      Education-Num  Marital Status  Relationship
Education     Target
 10th         <=50k            1302            1302          1302
              >50k               87              87            87
 11th         <=50k            1720            1720          1720
              >50k               92              92            92
 12th         <=50k             609             609           609
              >50k               48              48            48
 1st-4th      <=50k             239             239           239
              >50k                8               8             8
 5th-6th      <=50k             482             482           482
              >50k               27              27            27
 7th-8th      <=50k             893             893           893
              >50k               62              62            62
 9th          <=50k             715             715           715
              >50k               41              41            41
 Assoc-acdm   <=50k            1188            1188          1188
              >50k              413             413           413
 Assoc-voc    <=50k            1539            1539          1539
              >50k              522             522           522
 Bachelors    <=50k            4712            4712          4712
              >50k             3312            3312          3312
 Doctorate    <=50k             163             163           163
              >50k              431             431           431
 HS-grad      <=50k           13281           13281         13281
              >50k             2503            2503          2503
 Masters      <=50k            1198            1198          1198
              >50k             1459            1459          1459
 Preschool    <=50k              82              82            82
              >50k                1               1             1
 Prof-school  <=50k             217             217           217
              >50k              617             617           617
 Some-college <=50k            8815            8815          8815
              >50k             2063            2063          2063