<a href="https://colab.research.google.com/github/edx04/data-science/blob/main/WranglingArellano.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd

In [77]:
w_data = pd.read_csv('https://raw.githubusercontent.com/edx04/data-science/main/data/w_data.csv', sep=';')
p_data = pd.read_csv('https://raw.githubusercontent.com/edx04/data-science/main/data/p_data.csv', sep=';')

#1 Cuantos ID tienen en común. Nombrar cuales no tienen en común

In [78]:
result = pd.merge(w_data, p_data, on='ID')
result.head()

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
0,State-gov,77516.0,2174.0,0.0,40.0,49084,<=50K,39.0,Male,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,Self-emp-not-inc,83311.0,0.0,0.0,13.0,68553,<=50K,50.0,Male,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,Private,215646.0,0.0,0.0,40.0,143654,<=50K,38.0,Male,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,Private,234721.0,0.0,0.0,40.0,41510,<=50K,53.0,Male,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,Private,338409.0,0.0,0.0,40.0,195025,<=50K,28.0,Female,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife

In [79]:
print(f"tienen en comun {result.ID.count()}")

tienen en comun 48842

In [80]:
diferente_id = pd.merge(w_data, p_data, on='ID',how='outer',indicator=True).query('_merge != "both"')
diferente_id

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship,_merge
48842,Self-emp-inc,182148.0,0.0,0.0,60.0,1344995623,>50K.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [81]:
print(f"NO tienen en comun el id  {diferente_id.ID.values[0]}")

NO tienen en comun el id  1344995623

#2 Corregir los target a solo dos valores distintos ‘<=50k’ y ‘>50k’

In [82]:
result.Target.unique()

array([' <=50K', ' >50K', nan, ' <=50K.', ' >50K.'], dtype=object)

In [83]:
result[result['Target'].isnull()]

,Workclass,fnlwgt,Capital Gain,Capital Loss,Hours per week,ID,Target,Age,Sex,Race,Country,Education,Education-Num,Marital Status,Relationship
32561,NaN,NaN,NaN,NaN,NaN,37078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
result2 = result.drop(index=32561)

In [85]:
result2.Target.unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [86]:
result2.Target= result2.Target.apply(lambda x: 1 if x[1] == '>' else 0)

In [87]:
result2.Target.unique()

array([0, 1])

In [88]:
result2.Target.value_counts()

0    37155
1    11686
Name: Target, dtype: int64

#3 Calcular la proporción que hay entre personas con salarios >50k respecto del total para Entre personas de distinto sexo, Raza y Educacion. Por ejemplo cuál es el porcentaje de mujeres con un salario mayor a 50K y compararlo con el de los hombres. Lo mismo para personas de distintas razas y Educación

In [89]:
result2.groupby(['Sex']).mean()['Target']

Sex
 Female    0.109251
 Male      0.303746
Name: Target, dtype: float64

In [90]:
result2.groupby(['Race']).mean()['Target']

Race
 Amer-Indian-Eskimo    0.117021
 Asian-Pac-Islander    0.269256
 Black                 0.120811
 Other                 0.123153
 White                 0.253969
Name: Target, dtype: float64

In [91]:
result2.groupby(['Education']).mean()['Target']

Education
 10th            0.062635
 11th            0.050773
 12th            0.073059
 1st-4th         0.032389
 5th-6th         0.053045
 7th-8th         0.064921
 9th             0.054233
 Assoc-acdm      0.257964
 Assoc-voc       0.253275
 Bachelors       0.412762
 Doctorate       0.725589
 HS-grad         0.158578
 Masters         0.549116
 Preschool       0.012048
 Prof-school     0.739808
 Some-college    0.189649
Name: Target, dtype: float64